.component-modal {
	&.oreo {
		.modal-card {
			.modal-header {
				background-color: #565656;
				color: #fff;	
			}
			
			.modal-footer {
				background-color: #565656;
				margin-bottom: 0;
	
				.modal-button--cancel {
					color: #fff;
				}
	
				+ .modal-button--close {
					color: #fff;
				}
			}
		}
	}
}
